@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Inter:wght@400;500;700&family=Montserrat:wght@400;500;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

html[lang="ar"] body {
    font-family: 'Cairo', sans-serif;
}

html[lang="fr"] body {
    font-family: 'Montserrat', sans-serif;
}